<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      /*position: relative;*/
      width: 300px;
      height: 200px;
      border: 2px solid black;
      /*top: 20px;*/
      /*left: 30px;*/
      /*right: 30px;*/
      /*bottom: 10px;*/
      /*z-index: 1;*/
    }
    .box {
      position: absolute;
      background-color: lightgray;
      margin: 0;
      top: 10px;
      right: 20px;
      left: 30px;
      bottom: 10px;
      /*z-index: 1;*/
    }
  </style>
</head>
<body>

<div class="container">
  <p class="box">Absolute Position</p>
</div>

</body>
</html>
